body,
html {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}


/*-----------defult css----------------*/

a:hover,
a:focus {
    border: none;
    text-decoration: none;
    color: #ff3f07;
}

p {
    margin: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.white {
    color: #fff
}

.margin-bottom-3per {
    margin-bottom: 3%;
}

.colorDarkGrey,
.navbar-dark .navbar-toggler-icon {
    color: #727374;
}

.border-org {
    color: #ff3f07 !important;
    border: 1px solid #ff3f07 !important;
}

.border-radius-none {
    border-radius: 0 !important;
}

.border-radius {
    border-radius: 200px
}

.margin-auto {
    float: none !important;
    margin: 0 auto !important;
}

.margin-right {
    margin-right: 0px !important;
}

.bor-botm-white {
    border-bottom: 1px solid #fff !important;
}

.border-white {
    border: 1px solid #fff !important;
}

.ornageCol {
    color: #ff3f07 !important;
}

.whiteCol {
    color: #FFF !important;
}

.ornageCol-1 {
    color: #FFF !important;
    font-size: 24px;
}

.border-none {
    border: none !important;
}

.border-right {
    border-right: 1px solid #ccc
}

.width-100 {
    width: 100% !important
}

.width-20 {
    width: 20% !important;
}

.display-inline {
    display: inline;
}

.margin-bottom-10 {
    margin-bottom: 10px
}

section {
    float: left;
    width: 100%;
    padding: 35px 0
}


/*--------------------dfault css---------------*/

.carousel-fade .carousel-item {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel,
.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 42%;
    float: left;
    height: 100%;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item {}

.banner {
    position: relative;
    width: 100%;
    height: 640px;
    background: #1878de;
    background: radial-gradient(#01427b, #1878de);
    background-size: cover;
}

.carousel-caption {
    position: relative;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    top: 23%;
    width: 100%;
    text-align: left;
    right: 0;
}

.carousel-caption p {
    font-size: 35px;
    float: right;
    /* width: 55%; */
}

.carousel-caption span {
    /*border-bottom: 1px solid;*/
}

.carousel-caption img {
    text-align: center;
    margin: 8% 0% 0 0;
    width: 90%;
    height: auto;
}

.carousel-caption .img span {
    text-align: center;
    border: 0px;
    float: left;
    width: 100%;
    font-size: 18px;
    text-decoration: underlinenone;
}

.navbar-dark .navbar-nav a,
.navbar-dark .navbar-nav .nav-link {
    color: #727374;
}

.navbar-dark .navbar-nav .active .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ec410c;
}

.border-top-red {
    border-top: 3px solid #ff3f07
}

.margin-none {
    margin: 0 !important;
}

.margin-top-41 {
    margin: 41px 0 0!important;
}

#Benifits .b-list {
    padding: 3% 2%;
}

#Benifits .nav-tabs li {
    width: 33.33%;
    border-right: 1px solid #ececec;
}

#Benifits .nav-tabs li:last-child {
    border: none
}

#Benifits .nav-tabs li a {
    width: 100%;
    text-align: center
}

#Benifits .b-list li {
    list-style-type: none;
}

.padding-none {
    padding: 0 !important;
}

.padding-right-none {
    padding-right: 0 !important;
}

.navbar-dark .navbar-brand {
    width: 136px
}2

.navbar-brand img {
    width: 100%
}

.fa {
    margin: 0 4px 0 0;
}

.fontSize12 {
    font-size: 12px !important
}

.top-menu li {
    padding: 0px 8px;
    border-right: 1px solid;
    line-height: 10px;
}

.top-menu li.post-prblm {
    border: 1px solid #ff3f07;
    padding: 6px 11px;
    line-height: 20px;
}

.top-menu li.post-prblm:hover {
    border: 1px solid #ff3f07;
    padding: 6px 11px;
    line-height: 20px;
    background: #ff3f07;
    color: white !important;
}

.post-prblm:hover a {
    color: white !important
}

#navbarResponsive {
    width: 67%;
}

.nav-main li {
    display: inline-block;
}

.top-menu {
    margin-bottom: 6px;
}

.main-list-nav a {
    border-right: 1px solid;
    padding: 0;
    line-height: 10px;
}

.solution-details {
    position: absolute;
    top: 18%;
    right: 0%;
    width: 38%;
}

.solution-details p {
    color: #fff;
    margin: 0 0 18px;
}

.connective {
    float: left;
    width: 100%;
}

.da a {
    border: 1px solid #fff;
    text-align: center;
    padding: 9px 0;
    width: 100%;
    color: #fff;
    float: left;
    font-size: 13px;
}

.da a span {
    font-size: 17px;
}

.connective .da a span {
    font-size: 18px;
    /* display: inline-block; */
    position: relative;
    top: 2px;
}

.da a:hover {
    border: 1px solid #ff3f07;
    background-color: #ff3f07;
    color: white !important;
}

#hw .da {
    width: 60%;
}

.secOne .da {
    width: 100%;
    padding: 0;
    margin: 21px 0 !important;
}

.secOne .da a {
    float: none;
    display: block;
    width: 20%;
    margin: 0 auto;
}

.secOne .da:last-child {
    margin: 0;
}

.da {
    padding: 0 42px 25px 0;
    float: left;
    width: 35%;
}

.da:last-child {
    margin: 0 0 0 26%;
}

.connective .da {
    padding: 0 59px 33px 0;
}

.connective .da.in {
    background-image: url(../images/arr3.png);
    background-repeat: no-repeat;
    background-position: 95% 14%;
    padding-top: 50px;
}

.connective .da.in.active {
    background-image: url(../images/arr3A.png);
}

.connective .da.sup {
    background-repeat: no-repeat;
    background-position: 7% 15%;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 51px;
    position: relative;
    margin-top: -56px;
    background-image: url(../images/arr.png);
}

.connective .da.sup.active {
    background-image: url(../images/arrA.png);
}

.connective .da.ex.active {
    background-image: url(../images/arr2A.png);
}

.connective .da.ex {
    background-image: url(../images/arr2.png);
    background-repeat: no-repeat;
    background-position: 9% 92%;
    padding-bottom: 59px;
    padding-top: 50px;
}

.fil-back a {
    border: 1px solid #e56d48;
    background-color: #ea4714;
    /* box-shadow: 0 0 5px #ccc */
}

.insight-singup .fil-back a:hover {
    border: 1px solid #ff3f07;
    color: #ff3f07 !important;
    background-color: transparent;
}

.connective .fil-back a:hover {
    border: 1px solid #fff;
    background-color: transparent;
}

.trusted {
    display: inline-block;
    width: 100%;
}

.trusted .heading {
    font-size: 18px;
    color: #b0adac;
    float: left;
    width: 12%;
    padding: 2% 0% 2% 0;
    border-right: 1px solid #ccc;
    margin-right: 2%;
}

.t-list {
    width: 86%;
    overflow-y: auto;
    white-space: nowrap
}

.t-list li {
    display: inline-block;
    padding: 2% 1%;
}

.t-list li img {
    width: 100px;
}

.benifits-list {
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
    height: 375px;
}

#exTab2 li a.active {
    box-shadow: 0 -2px 0 #ff3f07 inset;
}

#exTab2 ul li a {
    padding: 10px 12px;
    text-transform: uppercase;
    color: #727374;
    float: left;
    font-size: 18px;
}

#exTab2 li a.active {
    color: #ff3f07;
}

.b-list {
    padding: 3% 5%;
}

.b-list li {
    list-style-type: disc;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 34px;
}

nav {
    box-shadow: 0 0 2px #ccc;
}

.insights-list {}

.insights-list-inner {}

.insights-list-inner li {
    text-align: center;
    width: 32%;
    float: left;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
    height: 250px;
}

.insights-list-inner li.sup {
    background-image: url(../images/i-3.png);
}

.insights-list-inner li.ind {
    background-image: url(../images/i-2.png);
}

.insights-list-inner li:nth-child(3n) {
    margin-right: 0;
}

.insights-list-inner li:last-child .more {
    margin-top: 7%;
}

.insights-list-inner span {
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 0 0%;
    margin: 11% 0 0;
}

.insights-list-inner span.more a {
    color: #fff;
    font-style: italic;
}

.insight-singup {
    margin: 0 auto;
    width: 100%;
}

.insight-singup .da {
    padding: 0;
    width: 33.33%;
    text-align: center;
}

.insight-singup .da:last-child {
    margin: auto;
}

.insight-singup .da a {
    width: 65%;
    float: none;
    display: inline-block;
}

.insight-singup .fil-back a {
    color: #fff !important;
}

.insight-singup .da:last-child a {
    margin: 0 0;
}

.insight-singup .reg {
    float: left;
    width: 100%;
    font-size: 20px;
    margin: 2% 0 2%;
}

.exTab3 {
    float: left;
    width: 100%;
}

.exTab3 ul.nav-tabs {
    border-left: 1px solid #ccc;
    border-bottom: none;
    width: 20%;
    float: left;
    margin-top: 3%;
}

.exTab3 ul.nav-tabs a {}

.exTab3 ul.nav-tabs a.active {
    color: #ff3f07;
    box-shadow: 3px 0 0 #ff3f07 inset !important;
    font-weight: bold;
}

.exTab3 ul.nav-tabs li {
    width: 100%
}

.price-list {
    float: left;
    width: 80%;
}

.price-list h4 {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.price-list li {
    width: 33%;
    margin: 0 0% 0 0;
    float: left;
    padding: 0 0 20px 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.price-list li h6 {}

.price-list li p {
    border-bottom: 1px solid #e8e7e7;
    text-align: center;
    display: block;
    margin: 0;
    padding: 15px 0;
}

.price-list li {}

.price-list .da {
    width: 63%;
    margin-top: 15%;
}

.price-list .da a {
    padding: 6px 12px !important;
}

footer {
    padding-bottom: 0;
}

footer .box {
    width: 23%;
    float: left;
    margin-right: 2%;
}

.blog {
    border: 1px solid #fff;
    padding: 5px;
}

.box h5 {
    color: #fff;
    margin: 0 0 16px 0;
}

.ft-list {
    margin: 0 0 0 16px;
    display: flex;
    flex-wrap: wrap;
}

.ft-list li {
    list-style-type: disc;
    color: #fff;
    float: left;
    font-size: 12px;
    width: 100%
}

.ft-list a {
    color: #fff;
}

.sub-footer {
    float: left;
    width: 100%;
    background-color: #212020;
    margin: 28px 0 0;
    padding: 10px 30px;
    position: relative;
}

footer.pb-5,
footer.py-5 {
    padding-bottom: 0 !important;
}

.rights {
    margin: 20px 0 0 0;
    float: left;
}

.ss {
    margin: 0 0 5px 0;
    float: left;
}

.gold-back {
    background-color: #628394;
    color: white;
}

.price-list .ornageCol {
    font-size: 20px
}

.gold-back .ornageCol {
    color: #efefef99 !important;
}

.team-list {
    float: left;
    width: 100%;
    text-align: center;
}

.team-list li {
    width: 25%;
    text-align: center;
    float: left;
    position: relative;
    padding: 3% 3%;
}

.team-list img {
    border: 2px solid #fe5321;
    border-radius: 74px;
    display: inline-block;
    width: 150px;
}

.team-list .img {
    width: 100%;
    float: left;
}

.team-details {
    float: left;
    width: 100%;
    margin: 15px 0 0;
}

.team-details span {
    float: left;
    width: 100%
}

.hover-details {
    display: none;
    /* Fallback for web browsers that don't support RGBa */
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    padding: 13px;
    left: 0;
    color: #fff;
    text-align: left;
    box-shadow: 0 0 3px #ccc
}

.hover-details p {
    color: #fff;
}

.team-list li:hover .hover-details {
    display: block;
    top: 0%;
}

.container {
    position: relative;
    height: 100%;
}

button:focus {
    outline: none;
}

.circle-img {
    text-align: center;
    border-radius: 145px;
    overflow: hidden;
    width: 100px;
    display: inline-block;
    height: 100px;
    float: left;
    border: 2px solid #d1dbe0;
    box-shadow: 4px 2px 9px #ccc;
}

.circle-img img {
    width: 100%;
}


/* Simple Slider */

.white-back {
    background: #1a54a4;
    padding: 6px 20px;
}

.simple blockquote p {
    color: white;
    padding: 0px;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

.simple cite {
    font-size: 1em;
    float: right;
    font-style: normal;
    color: white;
    ;
}

.simple cite a {
    color: white;
    font-style: italic;
    text-decoration: none;
    font-size: .85em;
}

.simple cite a:hover {
    color: white;
}


/* A custom cursor to let folks know they can drag things */

.simple blockquote p,
.bubble blockquote {
    
}


/* Bubble Slider */

.bubble blockquote {
    margin: 10px 10px 0;
    background: #fff;
    padding: 40px;
    position: relative;
    border: none;
    border-radius: 8px;
    font-size: 1.25em;
    color: #1e528e;
}

.bubble blockquote:before,
.bubble blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    padding: 10px;
    line-height: 1;
    color: #1e528e;
}

.bubble blockquote:before {
    top: 0;
    left: 10px;
}

.bubble blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -.5em;
}

.bubble div {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    margin: 0 0 0 60px;
    margin-bottom: 10px;
}

.bubble cite {
    padding-left: 20px;
    font-size: 1.25em;
    color: #f7f7f7;
}

.bg {
    background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.wrapper {
    width: 85% !important;
    margin: 0 auto;
}

.slick-dots {
    display: none !important
}

.carousel-control-next,
.carousel-control-prev {
    display: none !important
}

.sloagn {
    position: relative;
    top: 18%;
    left: -5%;
    width: 55%;
}

.sloagn p {
    font-size: 24px;
    float: left;
    color: #fff;
     width: 84%;
}

.img-width-80 {
    width: 100% !important
}

.address {
    margin: 0 auto;
    width: 36%;
    display: block;
    text-align: center;
}

.top-menu-mob {
    display: none;
}

.social-link {
    position: absolute;
    top: 24%;
    right: 2%;
    width: 25%;
}

.ss-links li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #fff;
}

.ss-links li a {
    color: #fff
}

.social-connect {
    float: left;
    width: 100%;
}

.social-connect span {
    text-align: center;
    width: 100%;
    color: #fff;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
}

.link-center {
    float: left;
    width: 100%;
    text-align: center;
}

.link-center li {
    display: inline-block;
    margin: 17px 10px 42px;
    border-radius: 68px;
}

.link-center li img {
    border-radius: 68px;
    width: 35px;
}

.hw-block {
    float: left;
    width: 33.33%;
    border-right: 1px solid #ccc;
    padding: 0 18px;
    background-color: #fff;
    padding: 17px 0;
}

.hw-block h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 17px;
    border-bottom: 1px solid #ff3f07;
    padding-bottom: 9px;
    color: #ff3f07;
    text-align: center;
}

.hrbl-two h2 {
    border-bottom: 1px solid #ccc;
    color: #043e7c;
}

.hw-list {}

.hw-list li {
    margin: 0 0 12px;
    text-transform: capitalize;
    text-align: center;
    background-image: url(../images/downArr.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 20px;
}

.vl {
    background-image: url(../images/rIcon.png);
    height: 26px;
    width: 100%;
    float: left;
    background-size: 22px;
    margin: 0 10px 0 0;
    background-position: center;
    background-repeat: no-repeat;
}

.box-hr {
    display: flex;
    flex-wrap: wrap;
}

.vl-p {
    background-image: url(../images/pIcon.png);
}

.vl-v {
    background-image: url(../images/vIcon.png);
}

.vl-h {
    background-image: url(../images/hIcon.png);
}

.vl-c {
    background-image: url(../images/cIcon.png);
}

.vl-u {
    background-image: url(../images/upIcon.png);
}

.vl-pr {
    background-image: url(../images/prIcon.png);
}

.vl-d {
    background-image: url(../images/dIcon.png);
}

.vl-e {
    background-image: url(../images/eIcon.png);
}

.vl-ct {
    background-image: url(../images/ctIcon.png);
}

.vl-po {
    background-image: url(../images/oIcon.png);
}

.vl-rg {
    background-image: url(../images/grIcon.png);
}

.vl-s {
    background-image: url(../images/spIcon.png);
}

.orButton {
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: #ff3f07;
    border-radius: 36px;
    margin: 0 8px;
    position: relative;
    top: -5px;
}

.mob-block {
    display: none;
}

.desk-block {
    display: block
}

.finSup {
    border: 1px solid #ccc;
    padding: 9px 8px;
    position: relative;
    top: -2px;
}

.width-60 {
    width: 60%;
}

.secOne {
    float: left;
    width: 100%;
}

.benList {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.benList li {
    width: 20%;
    text-align: center;
    float: left;
}

.benList .icon-circle {
    width: 100%;
    float: left;
}

.benList li:hover .icon-circle img {
    filter: alpha(opacity=0);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: 1px solid #094ca5;
}

.benList li:hover h5 {
    color: #094ca5;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.benList .icon-circle img {
    width: 42%;
    border-radius: 100px;
    border: 1px solid #fc815d;
    padding: 8%;
    margin: 0 0 12px 0;
}

.benList h5 {
    color: #fe673c;
}

.benList p {}

#Benifits {
    background-image: url(../images/benifitsBack.png);
    background-size: cover;
    background-attachment: fixed;
}

.secOne h4 {
    /*border-bottom: 1px solid #094ca5;
    border-top: 1px solid #094ca5;*/
    padding: 11px 0;
    color: #094ca5;
}

.col-big {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(75, 75, 75, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
    background-color: rgba(18, 18, 19, 0.4)
}

.hovereffect img {
    display: block;
    width: 100%;
    position: relative;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(95px);
    -ms-transform: translateY(95px);
    transform: translateY(95px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.info ul {}

.info ul li {
    height: auto;
    width: 100%;
    text-align: left;
    padding: 0 26px;
    background-image: url(../images/tick.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 0 center;
    margin: 0 0 4px 0;
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin: 0px;
}

.hovereffect div.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    margin: 31px 7px;
}

.hovereffect:hover div.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.imgHo {
    height: 100%;
}

.arrow-fixd {
    position: fixed;
    bottom: 35%;
    right: 0;
}

.iframe {
    width: 80%;
    height: 350px;
    margin: 0 auto;
}

.form-inline .form-group {
    width: 50%;
    padding: 0 3% 4% 0;
}

.form-inline label {
    width: 100%;
    justify-content: left;
    align-items: left;
}

.form-inline .form-control {
    width: 100%
}

@media only screen and (max-width: 1025px) and (min-width: 1000px) {
    .sloagn p {
        font-size: 26px;
    }
	.sloagn {
    position: relative;
    top: 20%;
    left: -5%;
    width: 55%;
	margin-left: 30px;
    }

.carousel-caption span {
    /*border-bottom: 1px solid;*/
}

.carousel-caption img {
    text-align: center;
    margin: 23% 0% 0 0;
    width: 90%;
    height: auto;
}

.carousel-caption .img span {
    text-align: center;
    border: 0px;
    float: left;
    width: 100%;
    font-size: 18px;
    text-decoration: underlinenone;
}
.carousel-caption .img-c {
        right: -3%;
        
}
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .mob-block {
        display: block;
    }
    .iframe {
        width: 80%;
        height: 248px;
    }
    .circle-img {
        float: none !important;
    }
    .simple blockquote p,
    .bubble blockquote {
        padding: 0;
    }
    .simple cite {
        margin-right: 6%;
        text-align: right;
    }
    .slick-slider {
        padding: 0;
        text-align: center;
    }
    .hovereffect div.info {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .hovereffect h2 {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        margin: 0px;
    }
    .navbar-dark .navbar-brand {
        width: 100px;
    }
    .connective .da:last-child {
        margin-left: 24%;
    }
    .connective .da.in {
        background-position: 100% 14%;
    }
    .connective .da.sup {
        background-position: 6% 15%;
    }
    .desk-block {
        display: none
    }
    .secOne .da a {
        width: 85%;
        font-size: 13px;
    }
    .benList li {
        margin: 26px 0 0;
        width: 50%;
    }
    .findBor {
        border-left: none;
        border-right: none;
        border-top: 1px solid #ccc;
        border-bottom: none;
    }
    .findBor a {
        color: #094ca5 !important;
    }
    .benList li:last-child {
        text-align: center;
        margin: 26px auto 0;
    }
    .nav-main {
        display: none;
    }
    .da a span {
        font-size: 12px;
    }
    .connective .da a span {
        font-size: 13px;
        top: 0;
    }
    .carousel-caption .img {
        display: flex;
        flex-direction: column-reverse;
    }
    .orButton {
        top: 0px;
    }
    .orButton.margin-right {
        margin-right: 4px !important;
    }
    .hw-list {
        display: flex;
        flex-wrap: wrap;
    }
    .hw-list li {
        width: 100%;
        font-size: 10px;
    }
    #hw .da {
        width: 85%;
    }
    .secOne .da {}
    .hw-list li:nth-child(2n),
    .hw-list li:last-child {
        border: none;
    }
    .hw-block {
        margin-top: 19px;
        width: 50%;
        /* padding: 0; */
    }
    .hw-block:nth-child(2) {
        border: none;
    }
    .hw-block:last-child {
        width: 100%;
    }
    .mobile-nav {
        float: right;
        width: 179px;
    }
    .insight-singup .da a {
        width: 86%;
    }
    .social-link {
        position: static;
    }
    .address {
        margin: 11px auto;
        width: 100%;
        display: block;
        text-align: center;
        padding: 41px 0 0;
    }
    .search {
        width: 100%;
        margin: 10px 0;
        border: none !important;
    }
    .xs-none {
        display: none !important
    }
    .top-menu-mob {
        background-color: transparent !important;
        width: 100%;
    }
    li.post-prblm {
        margin: 0 9px 9px 0px;
    }
    .top-menu-mob {
        display: block;
    }
    .top-menu-mob ul {
        width: 74%;
    }
    .top-menu-mob li {
        float: left;
        border-color: #fff;
    }
    .navbar-dark .navbar-toggler-icon {
        background-image: url(../images/humburger.png);
        height: 20px;
        width: 31px;
    }
    #navbarResponsive {
        width: 100%;
    }
    .main-list-nav li {
        text-align: left;
        width: 100%;
        padding: 0;
        margin: 0;
        float: left;
    }
    .main-list-nav a {
        border-right: 0;
        border-bottom: 1px solid #ececec;
        padding: 0;
        margin: 0;
        padding: 12px 0;
    }
    .top-menu {
        background-color: #eeeff1;
    }
    .top-menu-mob .navbar-nav {
        margin: 0;
        padding: 5px 0;
        background-color: #ff3f07;
    }
    .top-menu-mob .navbar-nav li .fa,
    .top-menu-mob .navbar-nav li a {
        color: #fff;
    }
    .carousel-caption {
        top: 0%;
    }
    .carousel-caption p {
        font-size: 18px;
        float: left;
        padding: 0 4%;
    }
    .solution-details {
        position: absolute;
        width: 100%;
        top: 665px;
        left: initial;
    }
    .link-center li {
        width: 25px;
    }
    .link-center li img {
        width: 100%;
    }
    .banner {
        height: 1090px;
        width: 100%;
        overflow: hidden;
    }
    .carousel-caption .img-c {
        margin-top: 172px;
        float: left;
        position: relative;
        z-index: 9;
        width: 100%;
    }
    .trusted .heading {
        font-size: 10px;
        float: left;
        width: 26%;
        padding: 3.5% 0% 2% 4%
    }
    .t-list {
        width: 71%;
    }
    .t-list li img {
        width: 80px;
    }
    .insights-list-inner li {
        width: 100%;
    }
    .insight-singup {
        width: 100%;
    }
    .exTab3 ul.nav-tabs {
        width: 100%;
    }
    .exTab3 ul.nav-tabs li {
        width: 33.33%;
        text-align: center;
    }
    .exTab3 ul li a {
        padding: 7% 0 !important;
        text-align: center;
        width: 100%;
    }
    .exTab3 ul.nav-tabs a.active {
        box-shadow: 0 -2px 0 #ff3f07 inset !important;
    }
    .price-list {
        float: left;
        width: 100%;
    }
    .price-list li {
        width: 100%;
        border: none;
    }
    .team-list li {
        width: 100%;
        padding: 26px 0 26px 0;
        border-bottom: 1px solid #e0dfdf;
    }
    .team-list li:last-child {
        border: none;
    }
    footer .box {
        width: 38%;
        margin-right: 2%;
        display: flex;
        margin-bottom: 7%;
        flex-wrap: wrap;
        margin-left: 8%;
    }
    .container {
        padding: 0% 5%;
    }
    .carousel-caption img {
        margin: 0 auto;
        width: 70%;
    }
    .rights {
        width: 100%;
        text-align: center;
        font-size: 10px;
    }
    .social-link {
        width: 100%;
        text-align: center;
        margin: 12px 0 0;
        font-size: 10px;
    }
    .ss {
        float: left;
        width: 100%;
        margin: 0 0 8px 0;
        font-size: 10px;
    }
    .ft-list li {
        font-size: 10px;
        float: left;
        width: 100%;
    }
    #exTab2 .da {
        width: 68%;
    }
    .da a {
        font-size: 11px;
    }
    .sloagn {
        top: 95px;
        text-align: center;
        margin: 0 -15px;
        width: 108%;
    }
    .sloagn p {
        font-size: 16px;

    }
    .carousel-inner {
        width: 93%;
        float: none;
        margin: 70px auto 0;
    }
	.carousel-caption img {
    text-align: center;
    margin: 0% 0% 0 0;
    width: 90%;
    height: auto;
}

.carousel-caption .img span {
    text-align: center;
    border: 0px;
    float: left;
    width: 100%;
    font-size: 18px;
    text-decoration: underlinenone;
}
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .navbar-dark .navbar-nav a,
    .navbar-dark .navbar-nav .nav-link {
        font-size: 10px
    }
	
.carousel-caption img {
    text-align: center;
    margin: 0% 0% 0 5%;
    width: 90%;
    height: auto;
}

.carousel-caption .img span {
    text-align: center;
    border: 0px;
    float: center;
    width: 80%;
	margin-left: 35px;
    font-size: 15px;
    text-decoration: underlinenone;
}

  
	.sloagn {
        top: 130px;
        text-align: center;
        margin: 0 15px;
		margin-left: 30px;
        width: 108%;
		float : left;
    }
    .sloagn p {
        font-size: 16px;

    }
}

@media only screen and (max-width: 820px) and (min-width: 768px) {
    #navbarResponsive {
        width: 78%;
        font-size: 12px;
    }
    .navbar-dark .navbar-brand {
        width: 97px;
    }
    .solution-details {
        left: 3%;
        width: %;
    }
    .main-list-nav a {
        padding: 0 7px !important;
    }
    .carousel-caption p {
        font-size: 22px;
    }
    .carousel-caption .img-c {
        width: 100%;
        float: right;
        position: absolute;
        right: 0;
        top: 73%;
    }
    .trusted .heading {
        font-size: 14px;
    }
    .container {
        width: 760px;
        max-width: 760px
    }
    .insight-singup .da {
        width: 48%;
    }
    #exTab2 .da {
        width: 60%;
    }
    .ft-list li {
        font-size: 11px;
    }
    .da a {
        font-size: 10px;
    }
	
    .sloagn p {
        font-size: 15px;
    }
}


.control-label { color:white;}
	 

.register_form_wrapper{
	padding:12px 12px;
	background-color:rgb(0, 0, 0);
	background-color:rgba(70, 30, 98, 0.2);
	border:1px solid rgb(0, 0, 0);
	border:1px solid rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
input.register-input{
	width:93.40%;
	height:32px;
    padding:0 2%;
	margin-right:2%;
	margin-bottom:15px;
	color: #252525;
	border:none;
	float:left;
	border: 1px solid #fff;
	background-color: #fff;
    font-size:14px;
	font-weight: 400;
	font-style:normal;
	-webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
}

input.register-submit{
	color: #fff;
	border: 1px solid #01994d;
	background-color:#01994d;
    cursor: pointer;
    display:block;
    font-size: 13px;
	font-weight:500;
    padding: 7px 23px;
    position: relative;
    text-transform: uppercase;
	-webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
	text-align:center;
	margin:0 auto;"
	

}
input.register-submit:hover{
	color:#fff;
	background-color: #27ae60;
	border:1px solid #27ae60;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
	
}